@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

h1, h3 {
    text-align: center;
    padding: 1rem;
    font-family: 'Ephesis', cursive;
    font-size: 4rem;
    text-decoration: underline;
    word-spacing: 1rem;
    color: #ed553B;
}

span, a {
    color: #ff595e;
}
.basic {
    margin: auto;
    width: 95vw;
    height: 300px;
    background-color: #E4E6EB;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 10px 8px #8888;
}

.section {
    display: flex;
    justify-content: space-around;
    margin: 4rem;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-bottom: 0;
}

.lines {
    position: relative;
    top: 2rem;
}
.hobbies, .tech {
    margin: 1rem;
    background-color: #E4E6EB;
    width: 500px;
    height: 300px;
    box-shadow: 5px 10px 8px #8888;
}

.hobbies p, .tech p, .basic p {
   text-align: center;
   margin-top: 20px;
}
.achievement {
    text-align: center;
    margin: 1rem 1rem 0;
    background-color: #E4E6EB;
    box-shadow: 5px 10px 8px #8888;
}

@media (max-width:480px) {
    .basic .lines {
        margin: 0 1rem;
    }
    .hobbies, .tech {
        width: 350px;
    }
}